{
  "plugins": [
    "import",
    "babel",
    "mocha"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "xit": true,
    "beforeEach": true,
    "afterEach": true,
    "cy": true,
    "Cypress": true,
    "expect": true
  },
  "env": {
    "node": true
  }
}
